<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="mailService"
              service="Tar.Core.Mail.IMailService,Tar.Core"
              type="Tar.Core.Mail.StandartMailService,Tar.Core"
              lifestyle="transient">
      <parameters>
        <server>mail.finansanalizi.com</server>
        <port>587</port>
        <enableSsl>false</enableSsl>
        <mailAddress>test@finansanalizi.com</mailAddress>
        <password>123456</password>
      </parameters>
    </component>
  </components>
</configuration>