<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component service="Tar.Core.Mail.Template.IMailTemplateFactory,Tar.Core"
               type="Tar.Core.Mail.Template.MailTemplateFactory,Tar.Core"
               lifestyle="singleton" />
    <component service="Tar.Core.Mail.Template.IMailTemplateBuilder,Tar.Core"
           type="Tar.Core.Mail.Template.MailTemplateBuilder,Tar.Core"
               lifestyle="transient" />
    <component service="Tar.Core.Mail.Template.MailTemplate,Tar.Core"
               type="Tar.Core.Mail.Template.MailTemplate,Tar.Core"
               lifestyle="transient" />
    <component service="Tar.Core.Mail.Template.IMailTemplateRepository,Tar.Core"
               type="Tar.Core.Mail.Template.MailTemplateRepositoryInMemory,Tar.Core"
               lifestyle="transient" />
  </components>
</configuration>