<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- Begin Common Business Facades -->
    <component service="Better4You.Business.ILookupFacade, Better4You.Business"
               type="Better4You.Business.Implementation.LookupFacade,Better4You.Business.Implementation"
               lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>

    <component service="Tar.Core.IBootStrapper,Tar.Core"
     type="Better4You.Business.BootStrapper,Better4You.Business"/>

    <!-- End Common Business Facades -->
    
    <!-- Begin User Managment Business Facades -->
    
    <component service="Better4You.UserManagment.Business.ISchoolFacade, Better4You.UserManagment.Business"
           type="Better4You.UserManagment.Business.Implementation.SchoolFacade,Better4You.UserManagment.Business.Implementation"
           lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>
    
    <component service="Better4You.UserManagment.Business.IUserFacade, Better4You.UserManagment.Business"
               type="Better4You.UserManagment.Business.Implementation.UserFacade,Better4You.UserManagment.Business.Implementation"
               lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>

    <component service="Better4You.UserManagment.Business.IUserNotifications, Better4You.UserManagment.Business"
             type="Better4You.UserManagment.Business.Implementation.UserNotifications, Better4You.UserManagment.Business.Implementation"
             lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>
    
    <component service="Tar.Core.IBootStrapper,Tar.Core"
             type="Better4You.UserManagment.Business.BootStrapper,Better4You.UserManagment.Business"/>

    <!-- End User Managment Business Facades -->

    <!-- Begin Meal Business Facades -->
    <component service="Better4You.Meal.Business.IFoodFacade, Better4You.Meal.Business"
               type="Better4You.Meal.Business.Implementation.FoodFacade,Better4You.Meal.Business.Implementation"
               lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>

    <component service="Better4You.Meal.Business.IMenuFacade, Better4You.Meal.Business"
           type="Better4You.Meal.Business.Implementation.MenuFacade,Better4You.Meal.Business.Implementation"
           lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>
    
    <component service="Better4You.Meal.Business.IMealMenuFacade, Better4You.Meal.Business"
          type="Better4You.Meal.Business.Implementation.MealMenuFacade,Better4You.Meal.Business.Implementation"
          lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>

    <component service="Better4You.Meal.Business.IMealMenuOrderFacade, Better4You.Meal.Business"
          type="Better4You.Meal.Business.Implementation.MealMenuOrderFacade,Better4You.Meal.Business.Implementation"
          lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>
    
    <component service="Tar.Core.IBootStrapper,Tar.Core"
             type="Better4You.Meal.Business.BootStrapper,Better4You.Meal.Business"/>

    <!-- End Meal Business Facades -->

  </components>
</configuration>