<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- Begin Common Services-->
    <component
        service="Better4You.Service.ILookupService,Better4You.Service"
        type="Better4You.Service.Implementation.LookupService,Better4You.Service.Implementation"
        lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core" />
    <!-- End Common Services-->
    
    <!-- Begin User Managment Services-->
    <component
        service="Better4You.UserManagment.Service.IUserService,Better4You.UserManagment.Service"
        type="Better4You.UserManagment.Service.Implementation.UserService,Better4You.UserManagment.Service.Implementation"
        lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core" />
    
    <component
        service="Better4You.UserManagment.Service.ISchoolService,Better4You.UserManagment.Service"
        type="Better4You.UserManagment.Service.Implementation.SchoolService,Better4You.UserManagment.Service.Implementation"
        lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core" />
    
    <!-- End User Managment Services-->

    <!-- Begin Meal Services-->
    <component
       service="Better4You.Meal.Service.IReportService,Better4You.Meal.Service"
       type="Better4You.Meal.Service.Implementation.ReportService,Better4You.Meal.Service.Implementation"
       lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core" />

    <component
        service="Better4You.Meal.Service.IFoodService,Better4You.Meal.Service"
        type="Better4You.Meal.Service.Implementation.FoodService,Better4You.Meal.Service.Implementation"
        lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core" />

    <component
        service="Better4You.Meal.Service.IMenuService,Better4You.Meal.Service"
        type="Better4You.Meal.Service.Implementation.MenuService,Better4You.Meal.Service.Implementation"
        lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core" />

    <component
        service="Better4You.Meal.Service.IMealMenuService,Better4You.Meal.Service"
        type="Better4You.Meal.Service.Implementation.MealMenuService,Better4You.Meal.Service.Implementation"
        lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core" />

    <component
        service="Better4You.Meal.Service.IMealMenuOrderService,Better4You.Meal.Service"
        type="Better4You.Meal.Service.Implementation.MealMenuOrderService,Better4You.Meal.Service.Implementation"
        lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core" />
    
    <!-- End Meal Services-->
  </components>
</configuration>