<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component
       service="Tar.Globalization.IResourceManager,Tar.Globalization"
       type="Tar.Globalization.ResourceManager,Tar.Globalization">
    </component>
    
    <component
       service="Tar.Globalization.IResourceRepository,Tar.Globalization"
       type="Tar.Globalization.DbResourceRepository,Tar.Globalization">
      <parameters>
        <connectionStringName>DefaultConnection</connectionStringName>
      </parameters>
    </component>
  </components>
</configuration>