<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="tar">
      <section name="logging" type="Tar.Logging.Configuration.LoggingConfigurationSection, Tar.Logging"/>
    </sectionGroup>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection.Encrypted" 
         connectionString="F0IwFWftPBQiJVyz0DQajmUxNkLgYWwHZEgnG6KVIrg5L60fpgZegNEsZHHzQ11VJ25WMQZ+lIHzp1hTINjCzfU8arsuTio0"
         providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection" 
         connectionString="Server=.\SQL2012;Initial Catalog=BTCONFIG;User Id=logper;Password=logper;"
         providerName="System.Data.SqlClient"/>
    <add name="LogDb" connectionString="Server=.\SQL2012;Database=MIKROB2B;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
    <add name="ConfigRepository" connectionString="Server=.\SQL2012;Initial Catalog=ConfigRepository;User Id=logper;Password=logper;"  providerName="System.Data.SqlClient" />
    <add name="TenantRepository" connectionString="Server=.\SQL2012;Initial Catalog=TenantRepository;User Id=logper;Password=logper;"  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Core.ServiceLocator.ConfigFile" value="Windsor.config" />
    <add key="Repository.Nh.ConfigFile" value="..\..\..\Configuration\Repository.Nh.config" />
    <add key="RepositoryType" value="nh" />
    <add key="ScriptFolder" value="..\..\..\Configuration\DbScripts" />
    <add key="AllowChangeSchema" value="true" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Server=.\SQL2012;Database=Tar;User Id=logper;Password=logper;" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <tar>
    <logging defaultLogger="defaultLogger">
      <loggers>
        <logger name="defaultLogger" type="Tar.Logging.Logger, Tar.Logging" repository="consoleLogRepository"></logger>
        <logger name="dbLogger" type="Tar.Logging.Logger, Tar.Logging" repository="fileLogRepository" />
      </loggers>

      <repositories>
        <repository name="consoleLogRepository" type="Tar.Logging.Repositories.ConsoleLogRepository, Tar.Logging" nextRepository="dbLogRepository" />
        <repository name="dbLogRepository" type="Tar.Logging.Repositories.DbLogRepository, Tar.Logging">
          <constructorParameters>
            <constructorParameter name="connectionStringName" value="DefaultConnection"></constructorParameter>
          </constructorParameters>
        </repository>
        <repository name="fileLogRepository" type="Tar.Logging.Repositories.FileLogRepository, Tar.Logging">
          <constructorParameters>
            <constructorParameter name="filePath" value="c:\fileLogRepository.txt"></constructorParameter>
          </constructorParameters>
        </repository>
      </repositories>
    </logging>
  </tar>
</configuration>