<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="DefaultConnection.generalRepository.Generic"
               service="Tar.Repository.General.IGeneralRepository`1,Tar.Repository.General"
               type="Tar.Repository.General.GeneralRepository`1,Tar.Repository.General"
               lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core">
      <parameters>
        <innerRepositoryKey>DefaultConnection.nh</innerRepositoryKey>
      </parameters>
    </component>
    <component id="DefaultConnection.generalRepository.New"
       service="Tar.Repository.General.IGeneralRepository,Tar.Repository.General"
       type="Tar.Repository.General.GeneralRepository,Tar.Repository.General"
      lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core">
      <parameters>
        <innerRepositoryKey>DefaultConnection.generalRepository.Generic</innerRepositoryKey>
      </parameters>
    </component>

    <component id="DefaultConnection.nh"
                 service="Tar.Repository.IRepository`1, Tar.Repository"
                 type="Tar.Repository.Nh.Repository`1, Tar.Repository.Nh"
                 lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core">
      <parameters>
        <sessionHelper>${DefaultConnection.nh.sessionHelper}</sessionHelper>
      </parameters>
    </component>
    <component id="DefaultConnection.nh.sessionHelper"
               service="Tar.Repository.Nh.ISessionHelper, Tar.Repository.Nh"
               type="Tar.Repository.Nh.SessionHelper, Tar.Repository.Nh"
               lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core">
      <parameters>
        <configuration>${DefaultConnection.nh.repositoryConfiguration}</configuration>
      </parameters>
    </component>

    <component id="DefaultConnection.nh.repositoryConfiguration"
               service="Tar.Repository.Nh.INhRepositoryConfiguration, Tar.Repository.Nh"
               type="Tar.Repository.Nh.NhRepositoryConfiguration, Tar.Repository.Nh"
               lifestyle="singleton">
      <parameters>
        <databaseConfiguration>${DefaultConnection.nh.databaseConfiguration}</databaseConfiguration>
        <parameters>
          <dictionary>
            <entry key="connection.provider">NHibernate.Connection.DriverConnectionProvider</entry>
            <entry key="dialect">NHibernate.Dialect.MsSql2008Dialect</entry>
            <entry key="connection.driver_class">NHibernate.Driver.Sql2008ClientDriver</entry>
            <entry key="connection.connection_string_name">DefaultConnection</entry>
            <entry key="show_sql">true</entry>
          </dictionary>
        </parameters>
      </parameters>
    </component>

    <component id="DefaultConnection.nh.databaseConfiguration"
           service="Tar.Repository.Nh.INhDatabaseConfiguration,Tar.Repository.Nh"
           type="Tar.Repository.Nh.NhDatabaseConfiguration,Tar.Repository.Nh" lifestyle="singleton">
      <parameters>
        <mappings>
          <dictionary>
            <entry key="Code">
              <list>
                <item>Tar.Tests</item>
              </list>
            </entry>
            <entry key="Xml">
              <list>
                <item>Tar.Tests</item>
              </list>
            </entry>
          </dictionary>
        </mappings>
        <scriptFolder>.</scriptFolder>
        <allowChangeSchema>true</allowChangeSchema>
      </parameters>
    </component>
    <!--<component
               service="Tar.Repository.IUnitOfWork, Tar.Repository"
               type="Tar.Repository.Nh.UnitOfWork,Tar.Repository.Nh"
               lifestyle="transient" />-->
    <!--<component
           service="Tar.Repository.IUnitOfWorkCounter, Tar.Repository"
           type="Tar.Repository.UnitOfWorkCounter,Tar.Repository"
           lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>-->
  </components>
</configuration>
<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="nh1"
               service="Tar.Repository.IRepository`1, Tar.Repository"
               type="Tar.Repository.Nh.Repository`1, Tar.Repository.Nh" />
    <component id="nh.sessionHelper"
               service="Tar.Repository.Nh.ISessionHelper, Tar.Repository.Nh"
               type="Tar.Repository.Nh.SessionHelper, Tar.Repository.Nh" />
    <component id="nh.repositoryConfiguration"
               service="Tar.Repository.Nh.INhRepositoryConfiguration, Tar.Repository.Nh"
               type="Tar.Repository.Nh.NhRepositoryConfigurationOld, Tar.Repository.Nh" />
    <component id="nh.databaseConfiguration"
               service="Tar.Repository.Nh.INhDatabaseConfiguration, Tar.Repository.Nh"
               type="Tar.Repository.Nh.NhDatabaseConfiguration, Tar.Repository.Nh">
              <parameters>
                <mappings>
                  <dictionary>
                    <entry key="Code">
                      <list>
                        <item>Tar.Tests</item>
                      </list>
                    </entry>
                    <entry key="Xml">
                      <list>
                        <item>Tar.Tests</item>
                      </list>
                    </entry>
                  </dictionary>
                </mappings>
                <scriptFolder>#{ScriptFolder}</scriptFolder>
                <allowChangeSchema>#{AllowChangeSchema}</allowChangeSchema>
            </parameters>
    </component>
    <component service="Tar.Core.IBootStrapper,Tar.Core"
               type="Tar.Repository.Nh.BootStrapper, Tar.Repository.Nh"/>
    <component id="unitOfwork"
           service="Tar.Repository.IUnitOfWork, Tar.Repository"
           type="Tar.Repository.Nh.UnitOfWork,Tar.Repository.Nh"
           lifestyle="transient" />
    <component id="nh" service="Tar.Repository.General.IGeneralRepository,Tar.Repository.General"
       type="Tar.Repository.General.GeneralRepository,Tar.Repository.General"
      lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core">
      <parameters>
        <innerRepositoryKey>#{RepositoryType}</innerRepositoryKey>
      </parameters>
    </component>

  </components>
</configuration>-->
