<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="ef"
               service="Tar.Repository.IRepository`1, Tar.Repository"
               type="Tar.Repository.Ef.Repository`1, Tar.Repository.Ef" />
    <component id="ef.dbContext"
            service="Tar.Repository.Ef.EfDbContext,Tar.Repository.Ef"
            type="Tar.Repository.Ef.EfDbContext,Tar.Repository.Ef"
               lifestyle="singleton">
      <parameters>
        <nameOrConnectionString>DefaultConnection</nameOrConnectionString>
      </parameters>
    </component>
    <component id="ef.unitOfwork"
           service="Tar.Repository.IUnitOfWork, Tar.Repository"
           type="Tar.Repository.Ef.UnitOfWork,Tar.Repository.Ef"
           lifestyle="transient"/>
    <component id="Tar.Repository"
           service="Tar.Repository.IUnitOfWorkCounter, Tar.Repository"
           type="Tar.Repository.UnitOfWorkCounter,Tar.Repository"
           lifestyle="singleton" />
    <component id="ef.TestRepositoryModelBuilder"
          service="Tar.Repository.Ef.IModelBuilder, Tar.Repository.Ef"
          type="Tar.Tests.Repository.TestRepositoryModelBuilder,Tar.Tests"
          lifestyle="singleton"/>

    <component service="Tar.Repository.Ef.IModelBuilder, Tar.Repository.Ef"
      type="Tar.Repository.Ef.ModelBuilder, Tar.Repository.Ef"
      lifestyle="singleton"/>

  </components>
</configuration>
