<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <include uri="file://Windsor.Template.config"/>
  <include uri="file://Windsor.Mail.config"/>
  <include uri="file://Windsor.Mail.Template.config"/>
  
  <include uri="file://Windsor.Repository.config"/>
  <include uri="file://Windsor.Cryptography.config"/>
  
  <include uri="file://Windsor.Settings.config"/>

  <!--<include uri="file://c:\folder\file.xml">-->
  <!--<include uri="assembly://Tar.Tests/includeFile.xml">-->
  
  <components>
    <component id="i1"
               service="Tar.Tests.Core.IInterface, Tar.Tests" 
               type="Tar.Tests.Core.InterfaceImpl, Tar.Tests" />
    <component
           service="Tar.Globalization.IResourceManager,Tar.Globalization"
           type="Tar.Globalization.ResourceManager,Tar.Globalization">
    </component>

    <component
       service="Tar.Globalization.IResourceRepository,Tar.Globalization"
       type="Tar.Globalization.DbResourceRepository,Tar.Globalization">
      <parameters>
        <connectionStringName>DefaultConnection</connectionStringName>
      </parameters>
    </component>

    <component service="Tar.Tests.Service.ITest,Tar.Tests" type="Tar.Tests.Service.Test,Tar.Tests"
               componentActivatorType="Tar.Core.Windsor.ComponentActivator.BuildUpComponentActivator, Tar.Core"/>
  </components>
</configuration>
