<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component service="Tar.Core.Template.ITemplateEngine,Tar.Core"
           type="Tar.Core.Template.NVelocityTemplateEngine,Tar.Core"
               lifestyle="singleton" />
    <component service="NVelocity.Runtime.Resource.Loader.ResourceLoader,NVelocity"
           type="Tar.Core.Template.ReturnTemplateNameAsTemplateStreamResourceLoader,Tar.Core"
           lifestyle="singleton" />
  </components>
</configuration>
