@using Better4You.UI.Mvc.Core
@model Better4You.UserManagment.Service.Messages.ResetPasswordRequest


@{
    ViewBag.Title = "Reset Password";
}

<form method="POST" class="form-signin">
    <fieldset>
        <legend>Reset Password</legend>
        @Html.EditorFor(model => Model.UserId)
    </fieldset>
    @Html.Mvc().SubmitButton("ResetPassword","Reset Password")
</form>
