<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>
    <facility
       id="factorysupport"
       type="Castle.Facilities.FactorySupport.FactorySupportFacility, Castle.Facilities.FactorySupport"/>
  </facilities>
  
  <components>
    <component id="Tar.Tests.ServiceLocation.Windsor.Facilities.FactorySupport.IFactory"
       service="Tar.Tests.ServiceLocation.Windsor.Facilities.FactorySupport.IFactory"
       type="Tar.Tests.ServiceLocation.Windsor.Facilities.FactorySupport.Factory" />

    <component
       service="Tar.Tests.ServiceLocation.Windsor.Facilities.FactorySupport.IService"
       type="Tar.Tests.ServiceLocation.Windsor.Facilities.FactorySupport.Service" />

    <component
      service="Tar.Tests.ServiceLocation.Windsor.Facilities.FactorySupport.IComponent"
       type="Tar.Tests.ServiceLocation.Windsor.Facilities.FactorySupport.Component"
       factoryId="Tar.Tests.ServiceLocation.Windsor.Facilities.FactorySupport.IFactory"
      factoryCreate="CreateComponent" />
  </components>
</configuration>