<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component service="Tar.Core.Configuration.ISettingsRepository, Tar.Core"
               type="Tar.Core.Configuration.StaticSettingsRepository, Tar.Core">
      <parameters>
        <source>
          <dictionary>
            <entry key="Application">
              <dictionary>
                <entry key="CompanyId">1071</entry>
              </dictionary>
            </entry>
            <entry key="Test">
              <dictionary>
                <entry key="IsOnline">True</entry>
                <entry key="Guid">F80BACD5-F49D-45CB-B523-FC7C87DD3AFC</entry>
                <entry key="Integer">1071</entry>
              </dictionary>
            </entry>
            <entry key="ConnectionStrings">
              <dictionary>
                <entry key="SaltKey">3GOx2WCt4tZefybWLJNcIH2vTbQWFJAF</entry>
                <entry key="GeneralRepository1">Pure Connection</entry>
                <entry key="GeneralRepository2.Encrypted">F80BACD5-F49D-45CB-B523-FC7C87DD3AFC</entry>
              </dictionary>
            </entry>
          </dictionary>
        </source>
      </parameters>
    </component>

    <component service="Tar.Core.Configuration.IApplicationSettings, Tar.Core"
               type="Tar.Core.Configuration.ApplicationSettings, Tar.Core"
               lifestyle="singleton"/>
    <component service="Tar.Core.Configuration.IConnectionStringsSettings, Tar.Core"
               type="Tar.Core.Configuration.ConnectionStringsSettings, Tar.Core"
               lifestyle="singleton"/>
    
    <component service="Tar.Tests.Core.Configuration.ITestSettings,Tar.Tests"
           type="Tar.Tests.Core.Configuration.TestSettings,Tar.Tests"
           lifestyle="singleton"/>
    
    <component
      id="Settings.Application"
      service="Tar.Core.Configuration.ISettings, Tar.Core"
      type="Tar.Core.Configuration.Settings, Tar.Core">
      <parameters>
        <settingGroupKey>Test</settingGroupKey>
      </parameters>
    </component>
  </components>
</configuration>
