<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <include uri="file://Windsor.Repository.Ef.config"/>
  <include uri="file://Windsor.Repository.Nh.config"/>
  <components>
    <component id="repository"
     service="Tar.Tests.Repository.ITestRepository`1, Tar.Tests"
     type="Tar.Tests.Repository.TestRepository`1, Tar.Tests" >
      <parameters>
        <innerRepositoryKey>DefaultConnection.nh</innerRepositoryKey>
      </parameters>
    </component>
  </components>
  <!--
    

    --><!--<component id="generalRepository.Generic"
           service="Tar.Repository.General.IGeneralRepository`1,Tar.Repository.General"
           type="Tar.Repository.General.GeneralRepository`1,Tar.Repository.General"
           lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core">
      <parameters>
        <innerRepositoryKey>#{RepositoryType}</innerRepositoryKey>
      </parameters>
    </component>--><!--
    <component
           service="Tar.Repository.IUnitOfWorkCounter, Tar.Repository"
           type="Tar.Repository.UnitOfWorkCounter,Tar.Repository"
           lifestyle="singleton" />

  </components>-->
</configuration>
