<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="TripleDes"
               service="Tar.Cryptography.IEncryption,Tar.Cryptography"
               type="Tar.Cryptography.EncryptionTripleDes,Tar.Cryptography">
      <parameters>
        <key>Mehmet Zahir SOLAK</key>
      </parameters>
    </component>
    <component id="SaltedHash"
               service="Tar.Cryptography.IHashing,Tar.Cryptography"
               type="Tar.Cryptography.SaltedHash,Tar.Cryptography">
      <parameters>
        <!--
        ref:http://msdn.microsoft.com/en-us/library/wet69s13.aspx
        -->

        <hashAlgorithm>MD5</hashAlgorithm>
        <symmetricAlgorithm>TripleDES</symmetricAlgorithm>
      </parameters>
    </component>

  </components>
</configuration>