<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="config2"
       type="Tar.Tests.ServiceLocation.Windsor.MultipleConfig.MultipleConfigComponent,Tar.Tests">
      <parameters>
        <name>config2</name>
      </parameters>
    </component>
  </components>
</configuration>