<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="config1"
       type="Tar.Tests.ServiceLocation.Windsor.MultipleConfig.MultipleConfigComponent,Tar.Tests" lifestyle="singleton">
      <parameters>
        <name>config1</name>
      </parameters>
    </component>
  </components>
</configuration>