<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections >
    <sectionGroup name="tar">
      <section name="logging" type="Tar.Logging.Configuration.LoggingConfigurationSection, Tar.Logging"/>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Server=.\SQL2012;Database=tar;UId=logper;PWD=logper;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <tar>
    <logging defaultLogger="defaultLogger">
      <loggers>
        <logger name="defaultLogger" type="Tar.Logging.Logger, Tar.Logging" repository="consoleLogRepository"></logger>
        <logger name="dbLogger" type="Tar.Logging.Logger, Tar.Logging" repository="dbLogRepository" />
      </loggers>
      
      <repositories>
        <repository name="consoleLogRepository" type="Tar.Logging.Repositories.ConsoleLogRepository, Tar.Logging" />
        <repository name="dbLogRepository" type="Tar.Logging.Repositories.DbLogRepository, Tar.Logging" nextRepository="dbLogRepository">
          <constructorParameters>
            <constructorParameter name="connectionStringName" value="DefaultConnection"></constructorParameter>
          </constructorParameters>
        </repository>
        <repository name="fileLogRepository" type="Tar.Logging.Repositories.FileLogRepository, Tar.Logging">
          <constructorParameters>
            <constructorParameter name="filePath" value="c:\fileLogRepository.txt"></constructorParameter>
          </constructorParameters>
        </repository>
      </repositories>
    </logging>
  </tar>
</configuration>