<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component
             service="LeaseWeb.Test.Service.IProductService,LeaseWeb.Test.Service"
             type="LeaseWeb.Test.Service.Implementation.ProductService,LeaseWeb.Test.Service.Implementation"
            lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"
               componentActivatorType="Tar.Core.Windsor.ComponentActivator.BuildUpComponentActivator,Tar.Core">
    </component>
    <component
     service="LeaseWeb.Test.Service.ICategoryService,LeaseWeb.Test.Service"
     type="LeaseWeb.Test.Service.Implementation.CategoryService,LeaseWeb.Test.Service.Implementation"
    lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"
       componentActivatorType="Tar.Core.Windsor.ComponentActivator.BuildUpComponentActivator,Tar.Core">
    </component>

    <!-- Begin FLEX Services -->
    <component
           service="LeaseWeb.Flex.Service.IContractService,LeaseWeb.Flex.Service"
           type="LeaseWeb.Flex.Service.Implementation.ContractService,LeaseWeb.Flex.Service.Implementation"
           lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"
           componentActivatorType="Tar.Core.Windsor.ComponentActivator.BuildUpComponentActivator,Tar.Core">
    </component>

    <component
       service="LeaseWeb.Flex.Service.ICrmService,LeaseWeb.Flex.Service"
       type="LeaseWeb.Flex.Service.Implementation.CrmService,LeaseWeb.Flex.Service.Implementation"
       lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"
       componentActivatorType="Tar.Core.Windsor.ComponentActivator.BuildUpComponentActivator,Tar.Core">
    </component>

    <component
       service="LeaseWeb.Flex.Service.IInsuranceService,LeaseWeb.Flex.Service"
       type="LeaseWeb.Flex.Service.Implementation.InsuranceService,LeaseWeb.Flex.Service.Implementation"
       lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"
       componentActivatorType="Tar.Core.Windsor.ComponentActivator.BuildUpComponentActivator,Tar.Core">
    </component>

    <component
       service="LeaseWeb.Flex.Service.IInventoryService,LeaseWeb.Flex.Service"
       type="LeaseWeb.Flex.Service.Implementation.InventoryService,LeaseWeb.Flex.Service.Implementation"
       lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"
       componentActivatorType="Tar.Core.Windsor.ComponentActivator.BuildUpComponentActivator,Tar.Core">
    </component>

    <component
       service="LeaseWeb.Flex.Service.IDemandService,LeaseWeb.Flex.Service"
       type="LeaseWeb.Flex.Service.Implementation.DemandService,LeaseWeb.Flex.Service.Implementation"
       lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"
       componentActivatorType="Tar.Core.Windsor.ComponentActivator.BuildUpComponentActivator,Tar.Core">
    </component>
    
    <component
       service="LeaseWeb.Flex.Service.IInvoiceService,LeaseWeb.Flex.Service"
       type="LeaseWeb.Flex.Service.Implementation.InvoiceService,LeaseWeb.Flex.Service.Implementation"
       lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"
       componentActivatorType="Tar.Core.Windsor.ComponentActivator.BuildUpComponentActivator,Tar.Core">
    </component>
    
    <!-- End FLEX Services -->
    
  </components>
</configuration>