<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="TripleDes"
               service="Tar.Core.Cryptography.IEncryption, Tar.Core"
               type="Tar.Core.Cryptography.EncryptionTripleDes, Tar.Core">
      <parameters>
        <key>Mehmet Zahir SOLAK</key>
      </parameters>
    </component>
    <component id="SaltedHash"
               service="Tar.Core.Cryptography.IHashing, Tar.Core"
               type="Tar.Core.Cryptography.SaltedHash, Tar.Core">
      <parameters>
        <hashAlgorithm>MD5</hashAlgorithm>
        <symmetricAlgorithm>TripleDES</symmetricAlgorithm>
      </parameters>
    </component>

  </components>
</configuration>