<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
    <component id="Nh.IUnitOfWork" service="Tar.Repository.IUnitOfWork, Tar.Repository" type="Tar.Repository.Nh.UnitOfWork,Tar.Repository.Nh" lifestyle="transient">
      <parameters>
        <counter>${Nh.IUnitOfWorkCounter}</counter>
      </parameters>
    </component>
    <component id="Nh.IUnitOfWorkCounter" service="Tar.Repository.IUnitOfWorkCounter, Tar.Repository" type="Tar.Repository.UnitOfWorkCounter,Tar.Repository" lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core" />
  </components>  
</configuration>