<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <include uri="file://Windsor.Template.config"/>
  <include uri="file://Windsor.Mail.config"/>
  <include uri="file://Windsor.Mail.Template.config"/>

  <include uri="file://Windsor.Cryptography.config"/>

  <include uri="file://Windsor.Repository.config"/>
  <include uri="file://Windsor.Security.config"/>
  <include uri="file://Windsor.Settings.config"/>
  <include uri="file://Windsor.Cache.config"/>
  
  <!--<include uri="file://Windsor.BusinessFacade.config"/>-->

  <!-- Full path de kullanılabilir.-->
  <!--<include uri="file://c:\folder\file.xml">-->

  <!-- ve hatta embedded resource da eklenebilir. -->
  <!--<include uri="assembly://Tar.Tests/includeFile.xml">-->
</configuration>
