<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="ef"
               service="Tar.Repository.IRepository`1, Tar.Repository"
               type="Tar.Repository.Ef.Repository`1, Tar.Repository.Ef" 
                lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>
    
    <component service="Tar.Core.IBootStrapper,Tar.Core"
               type="Tar.Repository.Ef.BootStrapper, Tar.Repository.Ef"
               lifestyle="singleton"/>

    <component
        service="Tar.Repository.Ef.EfDbContext,Tar.Repository.Ef"
        type="Tar.Repository.Ef.EfDbContext,Tar.Repository.Ef"
            lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core">
      <parameters>
        <nameOrConnectionString>DefaultConnection</nameOrConnectionString>
      </parameters>
    </component>

    <component service="Tar.Repository.IUnitOfWork, Tar.Repository"
           type="Tar.Repository.Ef.UnitOfWork,Tar.Repository.Ef"
           lifestyle="transient"/>

    <component service="Tar.Repository.IUnitOfWorkCounter, Tar.Repository"
               type="Tar.Repository.UnitOfWorkCounter,Tar.Repository"
               lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>

    <component service="Tar.Repository.Ef.IModelBuilder, Tar.Repository.Ef"
      type="Tar.Repository.Ef.ModelBuilder, Tar.Repository.Ef"
      lifestyle="singleton"/>
  </components>
</configuration>
