<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component service="Tar.Core.Configuration.ISettingsRepository, Tar.Core"
               type="Tar.Core.Configuration.StaticSettingsRepository, Tar.Core">
      <parameters>
        <source>
          <dictionary>
            <entry key="Application">
              <dictionary>
                <entry key="CompanyId">1090</entry>
                <entry key="FileRepositoryPath">Documents</entry>
                <entry key="FileRepositoryWebPath">https://local.logper.com/LogPer.Ui.WebPortal/documents/</entry>
              </dictionary>
            </entry>
            <entry key="Better4You">
              <dictionary>  
                <entry key="HostServer">https://local.logper.com/LogPer.Ui.WebPortal</entry>
                <entry key="EmailContactRegardsTo">Naginnovays@gmail.com</entry>
                <entry key="TemplateDirectory">Templates</entry>
                <entry key="CompanySchoolUser">companyschool@b4ybordering.com</entry>
              </dictionary>
            </entry>
            <entry key="ConnectionStrings">
              <dictionary>
                <entry key="SaltKey">3GOx2WCt4tZefybWLJNcIH2vTbQWFJAF</entry>
                <!--<entry key="ConfigRepo">Server=.;Database=BETTER4YOUP;User Id=sa;Password=123456;Application Name=Better4You.Mvc;Connection Timeout=600</entry> BetterForYouLiveDB-->
                <!--<entry key="ConfigRepo">Server=juniper.arvixe.com;Database=B4YBreakfastV2;User Id=b4youbreakfastdbuser; password=jupiter@2213;Application Name=Better4You.Mvc;Connection Timeout=600</entry>-->
                <!--<entry key="ConfigRepo">Server=tcp:sql2k1202.discountasp.net; Initial Catalog=SQL2012_978142_b4ymup;User ID=SQL2012_978142_b4ymup_user; Password=jupiter@2213;Application Name=Better4You.Mvc;Connection Timeout=600</entry>-->
                <!--<entry key="ConfigRepo">Server=tcp:betterforyoumealsdbserver.database.windows.net,1433; Initial Catalog=BetterForYouDevDb;User ID=dev_sa; Password=b4um@123;Application Name=Better4You.Mvc;Connection Timeout=600</entry>-->
                <entry key="ConfigRepo">Server=tcp:betterforyoumealsdbserver.database.windows.net,1433; Initial Catalog=BetterForYouLiveDB;User ID=dev_sa; Password=b4um@123;Application Name=Better4You.Mvc;Connection Timeout=600</entry>
                <!--<entry key="ConfigRepo">Server=172.16.0.4\MSSQLSERVER2012; Initial Catalog=B4YMDB;User ID=anws; Password=anwspassword@123;Application Name=Better4You.Mvc;Connection Timeout=600</entry>-->
                <!--<entry key="ConfigRepo">Server=172.16.0.4\MSSQLSERVER2012; Initial Catalog=B4YMDB;User ID=anws; Password=anwspassword@123;Application Name=Better4You.Mvc;Connection Timeout=600</entry>-->
                <!--<entry key="ConfigRepo">Server=juniper.arvixe.com; Initial Catalog=B4YB_Restored;User ID=b4youbreakfastdbuser; Password=jupiter@2213;Application Name=Better4You.Mvc;Connection Timeout=600</entry>-->
                <!--212 2963530-->
                    
              </dictionary>
            </entry>
          </dictionary>
        </source>
      </parameters>
    </component>


    <component service="Tar.Core.Configuration.IApplicationSettings, Tar.Core"
               type="Tar.Core.Configuration.ApplicationSettings, Tar.Core"
               lifestyle="singleton"/>

    <component service="Tar.Core.Configuration.IConnectionStringsSettings, Tar.Core"
               type="Tar.Core.Configuration.ConnectionStringsSettings, Tar.Core"
               lifestyle="singleton" />
    
    <component
      id="Settings.Better4You"
      service="Tar.Core.Configuration.ISettings, Tar.Core"
      type="Tar.Core.Configuration.Settings, Tar.Core">
      <parameters>
        <settingGroupKey>Better4You</settingGroupKey>
      </parameters>
    </component>
  </components>
</configuration>
