<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!--<component id="mailService"
              service="Tar.Core.Mail.IMailService,Tar.Core"
              type="Tar.Core.Mail.StandartMailService,Tar.Core"
              lifestyle="transient">
      <parameters>
        <server>mail.finansanalizi.com</server>
        <port>587</port>
        <enableSsl>true</enableSsl>
        <UseDefaultCredentials>false</UseDefaultCredentials>
        <mailAddress>test@finansanalizi.com</mailAddress>
        <password>1234567</password>
      </parameters>
    </component>-->
    

    <component id="mailService"
              service="Tar.Core.Mail.IMailService,Tar.Core"
              type="Better4You.UserManagment.Service.Implementation.TextFileMailService,Better4You.UserManagment.Service.Implementation"
              lifestyle="transient">
      <parameters>
     <filePath>Documents/MailService.log</filePath>
         <server>mail.finansanalizi.com</server>
        <port>25</port>
        <enableSsl>true</enableSsl>
        <UseDefaultCredentials>false</UseDefaultCredentials>
        <mailAddress>test@finansanalizi.com</mailAddress>
        <password>1234567</password>
      </parameters>
    </component>
  </components>
</configuration>