<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="ConfigRepository.Generic"
               service="Tar.Repository.General.IGeneralRepository`1,Tar.Repository.General"
               type="Tar.Repository.General.GeneralRepository`1,Tar.Repository.General"
               lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core">
      <parameters>
        <innerRepositoryKey>ConfigRepository.nh</innerRepositoryKey>
      </parameters>
    </component>
    <component id="ConfigRepository"
       service="Better4You.Core.Repositories.IConfigRepository,Better4You.Core"
       type="Better4You.Core.Repositories.ConfigRepository,Better4You.Core"
      lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core">
      <parameters>
        <innerRepositoryKey>ConfigRepository.Generic</innerRepositoryKey>
      </parameters>
    </component>
    <component id="ConfigRepository.nh"
                 service="Tar.Repository.IRepository`1, Tar.Repository"
                 type="Tar.Repository.Nh.Repository`1, Tar.Repository.Nh"
                 lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core">
      <parameters>
        <sessionHelper>${ConfigRepository.nh.sessionHelper}</sessionHelper>
      </parameters>
    </component>
    <component id="ConfigRepository.nh.sessionHelper"
               service="Tar.Repository.Nh.ISessionHelper, Tar.Repository.Nh"
               type="Tar.Repository.Nh.SessionHelper, Tar.Repository.Nh"
               lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core">
      <parameters>
        <configuration>${ConfigRepository.nh.repositoryConfiguration}</configuration>
      </parameters>
    </component>

    <component id="ConfigRepository.nh.repositoryConfiguration"
               service="Tar.Repository.Nh.INhRepositoryConfiguration, Tar.Repository.Nh"
               type="Tar.Repository.Nh.NhRepositoryConfiguration, Tar.Repository.Nh"
               lifestyle="singleton">
      <parameters>
        <databaseConfiguration>${ConfigRepository.nh.databaseConfiguration}</databaseConfiguration>
        <parameters>
          <dictionary>
            <entry key="connection.provider">NHibernate.Connection.DriverConnectionProvider</entry>
            <entry key="dialect">NHibernate.Dialect.MsSql2008Dialect</entry>
            <entry key="connection.driver_class">NHibernate.Driver.Sql2008ClientDriver</entry>
            <entry key="adonet.batch_size">100</entry>
            <!--<entry key="connection.connection_string">Data Source=.;Database=TestDb;User Id=sa;Password=dream;</entry>-->
            <entry key="connection.connection_string_name">ConfigRepo</entry>
            <entry key="show_sql">false</entry>
          </dictionary>
        </parameters>
      </parameters>
    </component>

    <component id="ConfigRepository.nh.databaseConfiguration"
           service="Tar.Repository.Nh.INhDatabaseConfiguration,Tar.Repository.Nh"
           type="Tar.Repository.Nh.NhDatabaseConfiguration,Tar.Repository.Nh" lifestyle="singleton">
      <parameters>
        <mappings>
          <dictionary>
            <entry key="Code">
              <list>
                <item>Better4You.NhCodeMapping</item>
                <item>Better4You.UserManagment.NhCodeMapping</item>
                <item>Better4You.Meal.NhCodeMapping</item>
              </list>
            </entry>
          </dictionary>
        </mappings>
        <scriptFolder>#{ConfigScriptFolder}</scriptFolder>
        <allowChangeSchema>#{ConfigAllowChangeSchema}</allowChangeSchema>
      </parameters>
    </component>
  </components>
</configuration>