<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component type="Tar.Security.CurrentUser,Tar.Security"
        lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>

    <component service="Tar.Security.IAuthenticationProvider,Tar.Security"
               type="Better4You.UserManagment.Service.Implementation.AuthenticationProvider,Better4You.UserManagment.Service.Implementation"
            lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>
    <component service="Tar.Security.IAuthentication,Tar.Security"
               type="Tar.Security.Authentication,Tar.Security"
            lifestyle="custom" customLifestyleType="Tar.Core.TarWebRequestLifestyle, Tar.Core"/>
  </components>
</configuration>